[Unit]
Description=Infoclimat exporter service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/sensors/infoclimat
ExecStart=python3 /root/sensors/infoclimat/infoclimat_exporter.py --bind=0.0.0.0 --port=8001
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
