[Unit]
Description=Listener for the PAC data
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/sensors/pac/
ExecStart=python3 /root/sensors/pac/Remehatest.py --bind=0.0.0.0 --port=35004
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
