[Unit]
Description=Thermo_bt_exporter service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/sensors/thermo_bt/
ExecStart=python3 /root/sensors/thermo_bt/thermo_bt_exporter.py --bind=0.0.0.0 --port=8002 --file /tmp/bleu.json /tmp/jaune.json /tmp/violet.json /tmp/noir.json /tmp/vert.json /tmp/rose.json --location chambre_sohann exterieur salon sdb chambre_parents bureau_kevin
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
