
[Unit]
Description=Bluetooth timer for %i device
Requires=thermo_bt@%i.service

[Timer]
Unit=thermo_bt@%i.service
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
